 .u-section-1 {
  background-image: url("images/tienda.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 552px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 576px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 50vw;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 371px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 231px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 479px;
}

.u-section-2 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
}

.u-section-2 .u-image-1 {
  width: 279px;
  height: 279px;
  margin: 72px auto 0 120px;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 1px;
  margin: -222px 166px 60px auto;
  padding: 25px 76px 27px 75px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 47px;
    margin-left: 94px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -232px;
    margin-right: 38px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: auto;
  }

  .u-section-2 .u-image-1 {
    margin-top: 29px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -223px;
    margin-right: 11px;
    padding: 26px 35px 26px 33px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 409px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 47px;
    margin-left: 47px;
  }

  .u-section-2 .u-image-1 {
    width: 187px;
    height: 187px;
  }

  .u-section-2 .u-btn-2 {
    font-size: 1.5rem;
    margin-top: -146px;
    margin-right: 65px;
    padding: 5px 0 6px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 33px;
    margin-left: -26px;
    margin-right: -26px;
  }

  .u-section-2 .u-btn-1 {
    padding: 0;
  }

  .u-section-2 .u-image-1 {
    width: 112px;
    height: 112px;
    margin-top: 23px;
  }

  .u-section-2 .u-btn-2 {
    font-size: 1.125rem;
    margin-top: -99px;
    margin-right: 0;
    padding: 15px 29px 16px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 502px;
}

.u-section-3 .u-text-1 {
  margin: 0 auto 0 500px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1163px;
  margin: 19px auto 47px -22px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 136px;
}

.u-section-3 .u-container-layout-1 {
  padding: 18px 30px;
}

.u-section-3 .u-text-2 {
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 136px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 136px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 136px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 24px;
}

.u-section-3 .u-text-5 {
  margin: 0 0 0 auto;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 136px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-text-6 {
  margin: 10px 15px 0;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 136px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-text-7 {
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 412px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 110px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 110px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 110px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 110px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 110px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 110px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 343px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 316px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 138px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 699px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: auto;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-bottom: 10px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-text-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 685px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.5rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 559px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1158px;
  margin: 8px auto 0 -17px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 259px;
}

.u-section-4 .u-container-layout-1 {
  padding: 21px 15px;
}

.u-section-4 .u-text-1 {
  margin: 9px auto 0;
}

.u-section-4 .u-image-1 {
  width: 155px;
  height: 155px;
  margin: 3px 0 0 auto;
}

.u-section-4 .u-image-2 {
  width: 135px;
  height: 135px;
  margin: -145px auto 0 14px;
}

.u-section-4 .u-image-3 {
  width: 132px;
  height: 120px;
  margin: -127px auto 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 239px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-size: 1.875rem;
  margin: 0 auto;
}

.u-section-4 .u-image-4 {
  height: 163px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 225px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 14px;
}

.u-section-4 .u-text-3 {
  font-size: 1.875rem;
  margin: 0 60px;
}

.u-section-4 .u-image-5 {
  height: 121px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 225px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  font-size: 1rem;
  font-weight: 700;
  margin: 40px -520px 8px 520px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-top: 70px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 210px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 194px;
  }

  .u-section-4 .u-image-4 {
    height: 129px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 183px;
  }

  .u-section-4 .u-image-5 {
    height: 97px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 183px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin: 6px -417px 6px 417px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 727px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 20px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-image-4 {
    height: 94px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 241px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-right: 15px;
    margin-left: 0;
  }

  .u-section-4 .u-image-5 {
    height: 75px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 140px;
  }

  .u-section-4 .u-text-4 {
    margin: 0 -320px 2px 320px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1011px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -145px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-4 {
    height: 163px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-5 {
    height: 118px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 210px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-4 {
    margin: 8px -231px 0 231px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 688px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 144px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 18px;
  }

  .u-section-4 .u-image-1 {
    width: 90px;
    height: 90px;
    margin-top: 5px;
    margin-left: 102px;
  }

  .u-section-4 .u-image-2 {
    width: 74px;
    height: 74px;
    margin-top: -81px;
    margin-left: 0;
  }

  .u-section-4 .u-image-3 {
    width: 90px;
    height: 82px;
    margin-top: -81px;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 162px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 20px 19px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-4 .u-image-4 {
    height: 100px;
    margin-top: 1px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 146px;
  }

  .u-section-4 .u-container-layout-3 {
    padding: 21px 0;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.125rem;
    margin-top: 9px;
    margin-right: 0;
    margin-left: 6px;
  }

  .u-section-4 .u-image-5 {
    height: 73px;
    width: 301px;
    margin: 9px 19px -5px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 132px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 235px;
}

.u-section-5 .u-text-1 {
  margin: 8px 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 301px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 367px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 455px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 675px;
  }
}